# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Dataset
data/raw/
data/processed/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Environment variables
.env
.env.*